<style>
	p {
		font size:30px;
		color:orange;
	}

	h4 {
		font-family:Arial;
		background-color:purple;
	}

			
	#main {
		font-family:Arial;
		background-color:skyblue;
	}
				
	.name {
		font size:30px;
		color:black;
		background-color:skyblue;
	}
</style>
			